//button section
$buttoncolor: white;
$buttonbackgroundcolor: #4b56c0;
$buttonbordercolor: #b7bbe6;
$buttondisablebackgroundcolor: #b7bbe6;

//footer section
$footerfirstboxbackgroundcolor: white;
$footerboxbackgroundcolor: white;

//form section
$boxheadingcolor: rgb(47, 56, 145);
$boxsubheadingcolor: rgb(28, 28, 28);
$boxheadinghovercolor: rgb(30, 120, 206);
$formunderlineheadingcolor: rgb(75, 86, 192);
$formunderlinebackgroundcolor: #4b56c0;

//header section
$headerbackgroundcolor: white;
$headerboxshadwocolor: rgb(238, 238, 238);
$headerboxacolor: #000000;
$headerAhovercolor: rgb(30, 120, 206);

//input button section
$inputbordercolor: rgb(228, 234, 252);
$inputbackgroundcolor: rgb(251, 251, 251);
$inputtagcolor: #2e3440;
$inputtagbordercolor: #e4eafc;
$inputhoverbordercolor: blue;
$inputsectionhoverbordercolor: #204be9;

//Schedule A demo maine page section
$scheduleademoupperheadingcolor: rgb(46, 52, 64);
